[Desktop Entry]
Name=gThumb Image Viewer
Name[am]=የgThumb ምስል ተመልካች
Name[ca]=Visualitzador d'imatges gThumb
Name[cs]=Prohlížeč obrázků gThumb
Name[da]=gThumb - billedfremviseren
Name[de]=gThumb Bildbetrachter
Name[en_GB]=gThumb Image Viewer
Name[es]=Visor de imágenes gThumb
Name[fr]=Visionneur d'images gThumb
Name[hu]=gThumb képmegjelenítő
Name[it]=Visualizzatore immagini (gThumb)
Name[ja]=gThumb 画像ビュワー
Name[lv]=gThumb Attēlu Skatītājs
Name[ms]=Pelihat Imej gThumb
Name[nl]=gThumb afbeelding viewer
Name[no]=gThumb bildeviser
Name[pl]=Przeglądarka obrazów gThumb
Name[pt]=Visualizador Imagens gThumb
Name[pt_BR]=Visualizador GThumb
Name[ru]=Просмотрщик изображений gThumb
Name[sr]=gThumb Прегледач слика
Name[sr@Latn]=gThumb Pregledač slika
Name[sv]=Bildvisaren gThumb
Name[uk]=Переглядач зображень GThumb
Name[zh_CN]=gThumb 图像浏览器
Name[zh_TW]=gThumb 圖像瀏覽程式
GenericName=
Comment=View and organize your images
Comment[ca]=Visualitzeu i organitzeu les vostres imatges
Comment[cs]=Prohlížení a uspořádání vašich obrázků
Comment[da]=Vís og organisér dine billeder
Comment[de]=Ihre Bilder betrachten und katalogisieren
Comment[en_GB]=View and organise your images
Comment[es]=Muestra y organiza sus imágenes
Comment[fr]=Affiche et organise vos images
Comment[hu]=Képek megtekintése és rendszerezése
Comment[it]=Mostra e organizza le proprie immagini
Comment[ja]=画像の表示と管理を行うツールです
Comment[ko]=그림을 보고 관리도 하세요
Comment[lv]=Skatīt un organizēt savus attēlus
Comment[ms]=Lihat dan pelihara imej anda
Comment[nl]=Uw afbeeldingen weergeven en beheren
Comment[no]=Vis og organiser dine bilder
Comment[pl]=Widok i organizacja obrazów
Comment[pt]=Ver e organizar as suas imagens
Comment[pt_BR]=Visualizar e organizar suas imagens
Comment[ru]=Просмотр изображений и ведение альбомов
Comment[sr]=Погледај и организуј своје слике
Comment[sr@Latn]=Pogledaj i organizuj svoje slike
Comment[sv]=Visa och organisera dina bilder
Comment[uk]=Перегляд і організація зображень
Comment[zh_CN]=查看及管理图像
Comment[zh_TW]=瀏覽及管理圖像
Categories=Application;Graphics;
Encoding=UTF-8
Exec=gthumb
Icon=gthumb.png
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gthumb
X-GNOME-Bugzilla-Component=general
X-GNOME-DocPath=gthumb/gthumb.xml
