.thumbnail-grid {
	background-color: #111;
	padding: 10px;
}

.thumbnail-grid > child {
	margin: 5px;
	border-radius: 10px;
}

.thumbnail-card {
	padding: 12px;
	border-radius: 9px;
	border: 1px solid var(--border-color);
}
