.deeper-view {
	background-color: #111;
}

.thumbnail-grid {
	padding: 10px;
}

.thumbnail-grid > child {
	margin: 5px;
	border-radius: 10px;
}

.thumbnail-card {
	padding: 12px;
	border-radius: 9px;
	border: 1px solid var(--border-color);
}

.thumbnail-icon {
	color: #ffffff33;
}

.sidebar-header,
.sidebar-header-bottom {
	padding: 6px;
}

.sidebar-header {
	border-bottom: 1px solid var(--border-color);
}

.sidebar-header-bottom {
	border-top: 1px solid var(--border-color);
}

.property-view {
	margin: 6px;
}
